body,
html {
  background-color: #151515;
  height: 100vh;
  caret-color: transparent;
  font-family: "Bebas Neue", cursive;
}
.definy-logo {
  color: white;
  font-size: 2em;
  letter-spacing: .03em;
}

.nav-container {
  padding: 0;
}

#definition {
  color: white;
  font-size: 4vh;
  display: flex;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

.def-container {
  height: 30%;
  display: flex;
  align-items: end;
  justify-content: center;
}

.letter-boxes {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-style: solid;
  border-color: white;
  width: 8vh;
  height: 8vh;
  margin-left: 5px;
  font-size: 3em;
  padding-top: 5px;
}

#wordRow {
  display: flex;
  justify-content: center;
  margin-right: 0;
  padding-top: 4vh;
}

.button-container {
  padding-top: 5vh;
  display: flex;
  justify-content: center;
  font-size: 150px;
}

.hintedLetter {
  display: flex;
  align-items: center;
  justify-content: center;
  color: cyan;
  border-style: solid;
  border-color: cyan;
  margin-left: 5px;
  font-size: 3em;
}

.animate__animated.animate__shakeX {
  --animate-duration: 0.8s;
}

.animate__pulse {
  --animate-duration: 0.2s;
}

.guessedCorrectly {
  color: #00ff00;
  border-color: #00ff00;
}
.guessedIncorrectly {
  color: red;
  border-color: red;
}

.reveal {
  margin-right: 2%;
  font-size: 25px;
}

.newGame {
  margin-left: 2%;
  width: 126px;
  font-size: 25px;
}

.key {
  color: black;
  display: flex;
  background-color: white;
  margin-left: 1px;
  margin-right: 1px;
  margin-bottom: 3px;
  height: 70px;
  width: 50px;
  border-radius: 10%;
  align-items: center;
  justify-content: center;
  font-size: 1.6em;
}

.back {
  color: black;
  display: flex;
  background-color: white;
  margin-left: 1px;
  margin-right: 1px;
  margin-bottom: 3px;
  height: 70px;
  border-radius: 10%;
  align-items: center;
  justify-content: center;
  font-size: 1.6em;
  width: 90px;
}

.enter {
  color: black;
  display: flex;
  background-color: white;
  margin-left: 1px;
  margin-right: 1px;
  margin-bottom: 3px;
  height: 70px;
  border-radius: 10%;
  align-items: center;
  justify-content: center;
  font-size: 1.6em;
  width: 90px;
}

.entire-keyboard {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.keyboard-1 {
  display: flex;
  justify-content: center;
  position: relative;
}

.keyboard-2 {
  display: flex;
  justify-content: center;
}

.keyboard-3 {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .key {
    margin-right: 0.1vw;
    margin-bottom: 0.3vw;
    height: 14vw;
    width: 9vw;
    border-radius: 10%;
    align-items: center;
    justify-content: center;
    font-size: 1.6em;
  }

  .back {
    margin-right: 0.1vw;
    margin-bottom: 0.3vw;
    height: 14vw;
    width: 14vw;
    border-radius: 10%;
    align-items: center;
    justify-content: center;
    font-size: 1.6em;
  }

  .enter {
    margin-right: 0.1vw;
    margin-bottom: 0.3vw;
    height: 14vw;
    width: 14vw;
    border-radius: 10%;
    align-items: center;
    justify-content: center;
    font-size: 1.6em;
  }

  #definition {
    font-size: 150%;
  }
}
